build/
dist/
__pycache__/
creations/*
!creations/.gitkeep
edit_bank/*
!edit_bank/.gitkeep
library/*
!library/audio/
!library/sfx/
!library/video/
library/audio/*
!library/audio/.gitkeep
library/sfx/*
!library/sfx/.gitkeep
library/video/*
!library/video/.gitkeep
config/settings.json
*.pyc
*.webm
*.mp4
Mashup Creator.code-workspace
*.code-workspace
node_modules/
.env
venv/
